{% extends "core/base.html" %}
{% load static %}
{% load property_filters %}

{% block title %}{{ property.property_code }} - {{ property.address }}{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'management_properties/css/properties.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="detail-header">
    <div class="detail-title">
        <h1>{{ property.address }}</h1>
        <span class="status-badge {{property.status|lower}}">
            {{ property.get_status_display }}
        </span>
    </div>

    <div class="detail-actions">
        <a href="{% url 'properties:property_update' property.property_code %}" class="btn-edit">Editar</a>
        <a href="{% url 'properties:property_list' %}" class="btn-back">Volver</a>
    </div>
</div>

<div class="property-detail">
    <!-- Main information table-->
     <div class="detail-section">
        <table class="detail-table">
            
        </table>
     </div>
</div>

{% endblock content %}